extends layout

block content
  header
  #carouselExampleIndicators.carousel.slide(data-ride='carousel')
    ol.carousel-indicators
      li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
      li(data-target='#carouselExampleIndicators', data-slide-to='1')
      li(data-target='#carouselExampleIndicators', data-slide-to='2')
    .carousel-inner(role='listbox')
      // Slide One - Set the background image for this slide in the line below
      .carousel-item.active(style="background-image: url('assets/images/carouselImages/carouselTitle.png')")
        .carousel-caption.d-none.d-md-block
          h3 Play Now!
          
      // Slide Two - Set the background image for this slide in the line below
      .carousel-item(style="background-image: url('http://placehold.it/1900x1080')")
        .carousel-caption.d-none.d-md-block
          h3 Second Slide
          p This is a description for the second slide.
      // Slide Three - Set the background image for this slide in the line below
      .carousel-item(style="background-image: url('http://placehold.it/1900x1080')")
        .carousel-caption.d-none.d-md-block
          h3 Third Slide
          p This is a description for the third slide.
    a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
      span.carousel-control-prev-icon(aria-hidden='true')
      span.sr-only Previous
    a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
      span.carousel-control-next-icon(aria-hidden='true')
      span.sr-only Next
  
  .container.marketing
    // Three columns of text below the carousel
    .row
      .col-lg-4
        h2 About the project
        p
          | Some information about the project.
        p
          a.btn.btn-secondary(href='#', role='button') View details »
      // /.col-lg-4
      .col-lg-4
        h2 About Phaser
        p
          | Some information about the framework used to create the game.
        p
          a.btn.btn-secondary(href='#', role='button') View details »
      // /.col-lg-4
      .col-lg-4
        h2 About me
        p
          | Some information about the creator of the game.
        p
          a.btn.btn-secondary(href='#', role='button') View details »
      // /.col-lg-4
    // /.row
    // START THE FEATURETTES
    hr.featurette-divider
    .row.featurette
      .col-md-7
        h2.featurette-heading
          | Run as far as you can! 
          span.text-muted It will get harder!
        p.lead
          | The rules of KnightRunner is simple: You have to keep going for as long as possible. Surviving is not as simple, though. The knight will move at a progessively faster pace, and there are obstacles in the way.
      .col-md-5
        img.featurette-image.img-fluid.mx-auto(data-src='holder.js/500x500/auto', alt='500x500', style='width: 500px; height: 500px;', src='data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_163589132f0%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_163589132f0%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22184.8984375%22%20y%3D%22261.1%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E', data-holder-rendered='true')
    hr.featurette-divider
    .row.featurette
      .col-md-7.order-md-2
        h2.featurette-heading
          | Made with Phaser.
          span.text-muted Game framework for JavaScript.
        p.lead
          | KnightRunner was created with Phaser 2.0, a very fleshed out framework for games creation with JavaScript. Featuring different physics options and lots more, Phaser is both enjoyable to use and easy to get going with.
      .col-md-5.order-md-1
        img.featurette-image.img-fluid.mx-auto(data-src='holder.js/500x500/auto', alt='500x500', src='data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_163589132f1%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_163589132f1%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22184.8984375%22%20y%3D%22261.1%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E', data-holder-rendered='true', style='width: 500px; height: 500px;')
    hr.featurette-divider
    .row.featurette
      .col-md-7
        h2.featurette-heading
          | Made as a project for 1DV430 
          span.text-muted At Linnaeus University.
        p.lead
          | This game was made for a project course.
      .col-md-5
        img.featurette-image.img-fluid.mx-auto(data-src='holder.js/500x500/auto', alt='500x500', src='data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_163589132f2%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_163589132f2%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22184.8984375%22%20y%3D%22261.1%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E', data-holder-rendered='true', style='width: 500px; height: 500px;')
    hr.featurette-divider
    // /END THE FEATURETTES


