extends layout

block content
  .jumbotron
    .profile Hi #{currentUserName}!
    if !highScore
      h1.display-4 You have no High Scores!
    if highScore
      .highScoreTitle Your High Score!
      hr.my-4
      each val, index in highScore
        .profileScore= `${val.score}m`
        hr.my-4
    
